<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WS_INSERT_XML_CPN.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FDA_XML_CPNConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_CPN;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_DRUGConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_DRUG;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_CONFIGConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_CONFIG;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XMLConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_TXCConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_TXC;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_NCTConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_NCT;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_MDCConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_MDC;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_DRUG_ESUBConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_DRUG_ESUB;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_CMTConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_CMT;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_FOODConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_FOOD;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_CPNConnectionString1" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_CPN;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_DRUG_DEMOConnectionString" connectionString="Data Source=10.111.28.132;Initial Catalog=LGT_DRUG_DEMO;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <applicationSettings>
    <WS_INSERT_XML_CPN.My.MySettings>
      <setting name="WS_INSERT_XML_CPN_BLOCK_APP_WS_BLOCKCHAIN" serializeAs="String">
        <value>http://10.111.28.107/BLOCK_APP/WS_BLOCKCHAIN.asmx</value>
      </setting>
      <setting name="WS_INSERT_XML_CPN_WS_MAIL_FDA_MAIL" serializeAs="String">
        <value>http://164.115.28.108/Mail/FDA_MAIL.asmx</value>
      </setting>
      <setting name="WS_INSERT_XML_CPN_WS_BLOCKCHAIN_WS_BLOCKCHAIN"
        serializeAs="String">
        <value>http://10.111.28.66/FDA_BLOCKV2/WS_BLOCKCHAIN.asmx</value>
      </setting>
    </WS_INSERT_XML_CPN.My.MySettings>
  </applicationSettings>
</configuration>
